<!-- <div class="container">
  <form [formGroup]="editAlbumForm" (ngSubmit)="onSubmitAlbum()">

    <div class="form-group  col-6 m-2 p-2">
      <label for="author">Author: </label>
      <input id="author" type="text" formControlName="albumAuthor">
    </div>

    <div class="form-group  col-6 m-2 p-2">
      <label for="album">Album: </label>
      <input id="album" type="text" formControlName="albumName">
    </div>

    <div class="form-group  col-6 m-2 p-2">
      <label for="year">Year: </label>
      <input id="year" type="number" formControlName="albumYear">
    </div>


    <div class="form-group  col-6 m-2 p-2">
      <label for="picture">Cover: </label>
      <input id="picture" type="text" formControlName="albumPicture">
    </div>

    <p>
      <button type=" submit" [disabled]="!editAlbumForm.valid">Submit</button>
    </p>
  </form>
</div> -->

<form [formGroup]="albumForm" class="form-inline" (ngSubmit)="onSubmitAlbum()">
  <h3>Create Album</h3>
  <input class="form-control w-50" formControlName="albumName" placeholder="Name" />
  <input class="form-control w-50" formControlName="albumAuthor" placeholder="Author" />
  <input class="form-control w-50" formControlName="albumYear" placeholder="Year" />
  <input class="form-control w-50" formControlName="albumPicture" placeholder="image" />


  <button (click)="addSong()">add</button>
  <h4>create song</h4>

  <ng-container formArrayName="songs" *ngIf="songs.length < 0">
    <div *ngFor="let _ of songs.controls; index as i">
      <ng-container [formGroupName]="i">
        <input formControlName="songName " placeholder="songName" />
        <input formControlName="year " placeholder="yer" />
        <input formControlName="trackNumber " placeholder="trackNumber" />


      </ng-container>
    </div>
  </ng-container>
  <p>
    <button type=" submit" [disabled]="!albumForm.valid">Submit</button>
  </p>
</form>