<!-- <div class="container d-flex ">

  <form class="form-inline" [formGroup]="newAlbumForm" (ngSubmit)="onSubmitAlbum()">

    <div class="form-group mb-2 ">
      <label for="author">Author: </label>
      <input id="author" class="form-control  w-75" type="text" formControlName="albumAuthor">
    </div>

    <div class="form-group mb-2 ">
      <label for="author ">Author: </label>
      <input id="author" class="form-control  w-75" type="text" formControlName="albumAuthor">
    </div>
    <div class="form-group mb-2 ">
      <label for="year" class="mx-2">Year: </label>
      <input id="year" class="form-control  w-75" type="number" formControlName="albumYear">
    </div>
    <div class="form-group mb-2 ">
      <label for="picture">Cover: </label>
      <input class="form-control w-75" id="picture" type="text" formControlName="albumPicture">
    </div>

    <button type="button" class="btn btn-success m-2" (click)="addSong()">Add Song</button>

    <div formArrayName="songs" class="form-group" *ngFor="let song of songs.controls ; let i = index">

      <div class="alert  alert-danger"
        *ngIf="songs.controls[i].get('name')?.hasError('required') && songs.controls[i].get('name')?.touched">
        Name is required
      </div>


      <input [formControlName]="'songName'" id="{{'songName' + (i+1)}}" type="text" formControlName="songName"
        placeholder="SongName">
      <input [formControlName]=" 'year'" id="{{'year' + (i+1)}}" type="number" formControlName="year"
        placeholder="Year">
      <input [formControlName]="'trackNumber'" id="{{'trackNumber'+ (i+1)}}" type="number" formControlName="trackNumber"
        placeholder="trackNumber">

    </div>
    <button type="submit" class="btn btn-primary m-2" [disabled]="!newAlbumForm.valid">Add Album</button>

  </form>

</div>



 -->

<form [formGroup]="albumForm" class="form-inline" (ngSubmit)="onSubmitAlbum()">
  <h3>Create Album</h3>
  <input class="form-control w-50" formControlName="albumName" placeholder="Name" />
  <input class="form-control w-50" formControlName="albumAuthor" placeholder="Author" />
  <input class="form-control w-50" formControlName="albumYear" placeholder="Year" />
  <input class="form-control w-50" formControlName="albumPicture" placeholder="image" />


  <button (click)="addSong()">add</button>
  <h4>create song</h4>

  <ng-container formArrayName="songs">
    <div *ngFor="let _ of songs.controls; index as i">
      <ng-container [formGroupName]="i">
        <input formControlName="songName" placeholder="songName" />
        <input formControlName="year" placeholder="yer" />
        <input formControlName="trackNumber" placeholder="trackNumber" />


      </ng-container>
    </div>
  </ng-container>
</form>